.lib-head {
    font-size: 96px;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    line-height: 104px;
    text-transform: uppercase;
    color: #000;
    margin-top: 0.6rem;
}

.s-content {
    max-width: 1200px;
    margin: 0px auto;
}

.btnImgWid {
    width: 101%;
    margin-left: 0px;
    margin-top: 0rem !important;
}

.row.down-arrow {
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
}

.song-icon {
    visibility: hidden;
}

.a-sort {
    margin-left: 30px;
    margin-top: 0.8rem;
}

.icon-text {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    color: #000000;
    margin-right: 8%;
}

.icon-text1 {
    margin-left: 15%;
}

.icon-text11 {
    margin-left: 1%;
}

.sort-div {
    display: none;
    width: 180px;
    margin-left: -30px;
    margin-top: 5px;
    box-shadow: 4px 5px 5px -1px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    position: absolute;
    background: #fff;
}

.sort-div img {
    width: 179.9px;
}

.sort-div a {
    color: #000;
}

.subHead {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 2.5rem;
}

.lPar {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}

button {
    border: none;
}

.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8) !important;
    min-width: 32% !important;
    position: relative;
    bottom: 25px;
    left: 2%;
}

.mtop1 {
    margin-top: 2.5rem;
}

.THead {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 2.5rem;
    margin-bottom: 1.8rem;
}

.sText {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-top: 0.55rem;
}

.sText1 {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.barLine {
    /*width: 100%;*/
    margin-top: -1.5rem;
    margin-left: 1rem;
}

.mWid0 {
    flex: 0 0 6%;
    max-width: 6%;
}

.mWid {
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.mWid span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.SDivTImgMar1 {
    margin-top: 3rem !important;
    margin-bottom: 1rem !important;
}

.TDiv img {
    border-radius: 6px;
}

.TDiv p {
    margin-bottom: 0;
}

li.nav-item.active {
    width: 160px;
}

.pieDiv {
    position: relative;
    top: 17%;
}

.SingArtDiv {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.SingArtImg {
    border-radius: 6px;
}

.SingArtHead {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #000000;
}

.SingArtCross {
    font-size: 4rem;
    margin-left: 1.5rem;
    margin-top: -2rem;
}

.sWriter {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0.7rem;
}

.sDesc {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0.85rem;
}

.licDiv {
    flex: 0 0 14.5%;
    max-width: 14.5%;
    padding-left: 20px;
}

.licDiv1 {
    flex: 0 0 10.5%;
    max-width: 10.5%;
}

.border-left {
    border-left: 1.5px solid rgba(0, 0, 0, 0.2)!important;
}

.cross {
    margin-top: 0.8rem;
}

.MetaDiv {
    margin-top: 2rem;
    margin-bottom: -1.2rem;
}

.MetaBtn {
    width: 100%;
    height: 40px;
    box-shadow: none;
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    margin-bottom: -1.5rem;
}

.MetaBtn:focus {
    box-shadow: none;
}

li.nav-item.active {
    width: 160px !important;
}


/* Mobile Slider */

.mbNot {
    position: absolute;
    left: 4%;
    right: 2%;
}


/* End Mobile Slider */


/* Mobile Modal */

.mbPBtn {
    width: 100%;
    height: 40px;
    background: #F3F3F3;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    border: none;
}

.modal-title {
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: #000000;
}

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    opacity: 1;
    font-size: 2rem;
}

.GHead {
    height: 28px;
    margin-bottom: 0rem;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 0.3rem;
}

.GSubHead {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0rem;
    color: rgba(0, 0, 0, 0.8);
}

.row.mt-5.NotMB {
    margin-top: 4.5rem !important;
}


/* end Modal */

.OnPadViewOnly,
.notD,
.NotDs,
.mbPBtn,
.notDT,
.DisOnlyPad,
.DeskViewNone,
.mbNot {
    display: none;
}

@media (max-width: 3000px) {
    .SingArtDiv {
        margin-right: -.5rem;
    }
}

@media (max-width: 2000px) {
    .a-sort {
        margin-left: 60px;
    }
    .row.down-arrow {
        margin-top: 3.2rem;
    }
    .btnImgWid {
        width: 99%;
        margin-left: 0px
    }
    .SingArtDiv {
        max-width: 1175px !important;
    }
    .SingArtHead {
        width: 464px;
    }
    .mWid {
        flex: 0 0 11.8%;
        max-width: 11.8%;
    }
}

@media (max-width: 1600px) {
    .SingArtDiv {
        max-width: 1175px !important;
    }
}

@media (max-width: 1440px) {
    .s-content {
        flex: 0 0 77%;
        padding-left: 0px;
    }
    .btnImgWid {
        width: 101%;
    }
    .row.down-arrow {
        margin-top: 3.5rem;
        margin-bottom: 0.7rem;
    }
    .a-sort {
        margin-left: 52px;
    }
    .SingArtHead {
        width: 464px;
    }
    .mWid {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}

@media (max-width: 1366px) {
    .a-sort {
        margin-left: 42px;
    }
    .row.down-arrow {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .btnImgWid {
        width: 101%;
        margin-left: 0px;
        margin-top: 0rem;
    }
    .SingArtDiv {
        max-width: 1140px !important;
        margin-right: 0rem;
    }
    .SingArtDiv2 {
        margin-left: 1.5rem;
        margin-right: -1.5rem;
    }
    .mWid {
        flex: 0 0 13%;
        max-width: 13%;
    }
}

@media (max-width: 1280px) {
    .s-content {
        padding-left: 8px;
    }
    .icon-text {
        margin-right: 3%;
    }
    .row.down-arrow {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .SingArtDiv {
        margin-right: -0.5rem;
    }
    .SingArtDiv2 {
        margin-left: 2.5rem;
        margin-right: -2.5rem;
    }
    .SingArtCross {
        margin-left: 0.5rem !important;
    }
    .barLine {
        width: 100%;
    }
    .mWid {
        flex: 0 0 13.4%;
        max-width: 13.5%;
    }
    .mWid span {
        margin-left: 1rem;
    }
}

@media (max-width: 1200px) {
    .a-sort {
        margin-left: 6px;
    }
    .btnImgWid {
        width: 100%;
        margin-left: 0px;
    }
    .border-bottom {
        min-width: 31% !important;
    }
    .sText,
    .sText1 {
        padding-left: 1rem;
    }
    .GHead {
        font-size: 16.2px;
    }
    .GSubHead {
        font-size: 14px;
    }
    .SingArtDiv2 {
        margin-left: 4rem;
        margin-right: -4rem;
    }
    .SingArtCross {
        margin-left: 0.5rem !important;
    }
    .cross {
        margin-left: 0.6rem !important;
    }
    .pieDiv img {
        width: 100%;
    }
    .pieDiv {
        top: 21.9%;
    }
    .mWid span {
        margin-left: 1.8rem;
    }
}

@media (max-width: 1024px) {
    .s-content {
        flex: unset !important;
    }
    .col-lg-9.s-content {
        width: 72%;
    }
    .a-sort {
        margin-left: 4px;
    }
    .icon-text1 {
        margin-left: 12%;
    }
    .sText {
        margin-top: 0;
        font-size: 17px;
        line-height: 25px;
    }
    .border-bottom {
        min-width: 28% !important;
    }
    .SingArtDiv1 {
        margin-top: 0.8rem;
    }
    .IpadViewNone,
    .IpadCross,
    .IpadProBlock {
        display: none;
    }
    .IpadView {
        display: block;
    }
    .DisOnlyPad {
        display: unset;
    }
    .IpadGrid {
        display: grid !important;
        grid-template-rows: repeat(1, 250px);
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 250px;
        grid-column-gap: 0px !important;
        grid-row-gap: 0px !important;
    }
    .SingArtDiv2 {
        max-width: 100%;
        margin-left: -6rem;
    }
    .SingArtHead {
        display: inline-block;
        width: 100%;
        font-size: 38px;
    }
    span.SingArtHead {
        width: 90%;
    }
    .SingArtCross {
        float: right;
        margin-right: -4.4rem;
        width: 8%;
    }
    .cross {
        margin-top: 0.8rem;
        float: right;
        margin-right: -5.5rem;
    }
    .mWid {
        padding-left: 0;
        padding-right: 0;
    }
    .pieDiv {
        top: 35.5%;
    }
}

@media (max-width: 992px) and (min-width:858px) {
    .col-lg-9.s-content {
        width: 72%;
    }
    .a-sort {
        margin-left: 42px;
    }
    .MobileViewNone {
        margin-top: 6rem !important;
    }
}

@media (max-width: 969px) and (min-width:858px) {
    .s-content {
        flex: unset !important;
    }
    .SingArtImg {
        width: 230px;
        margin-top: 1rem;
    }
}

@media (max-width: 969px) {
    .notD,
    .NotDs {
        display: unset;
    }
    .btnImgWid.notD {
        width: 95%;
        margin-left: 1rem;
        margin-top: 1.85rem !important;
    }
    .notMb {
        display: none;
    }
    .dTop1,
    .dTop2,
    .dTop3 {
        margin-top: 0.45rem;
    }
    .mbTop {
        margin-top: 1.5rem;
    }
    .sText {
        margin-top: 0.55rem;
    }
    .sText,
    .sText1 {
        padding-left: 2rem;
    }
    .insb {
        width: 57px;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        border-radius: 8px;
        margin-top: 0.8rem;
    }
    .mbBot {
        margin-bottom: 2.8rem;
    }
    .midBod .bod {
        border-right: 1.5px solid rgba(0, 0, 0, 0.3);
    }
    .GHead,
    .GSubHead {
        text-align: center;
    }
    .GSubHead {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .midBod .bod {
        border-right: 1.5px solid rgba(0, 0, 0, 0.3);
    }
    .botBod {
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
        ;
    }
    .BodNone {
        border-bottom: none;
    }
    .pieDiv {
        top: 38.9%;
    }
}

@media (max-width: 857px) and (min-width:769px) {
    .col-lg-9.s-content {
        width: 70%;
    }
}

@media (max-width: 769px) {
    .tab1 {
        display: none;
    }
    .s-content {
        padding-left: 15px;
    }
    .col-lg-9.s-content {
        width: 1200px;
    }
    .a-sort {
        margin-left: 58px;
    }
    .d-none {
        display: block !important;
    }
    .OnPadViewOnly,
    .ex-space {
        display: none;
    }
    .form-group {
        margin-bottom: 0rem;
    }
    .navbar {
        padding: 10px 0px 0px;
    }
    .navbar {
        margin-bottom: 18px;
    }
    .subHead {
        margin-left: 0;
    }
    .GHead {
        font-size: 15px;
    }
    .SingArtDiv {
        margin-right: 0rem;
    }
    .pieDiv {
        top: 33%;
    }
    .navbar {
        margin-bottom: 0px !important;
    }
}

@media(max-width: 541px) and (min-width:420px) {
    .d-none1 {
        display: none !important;
    }
    .my-div1 {
        width: 75% !important;
    }
    .my-div2 {
        width: 25% !important;
    }
    .a-sort {
        margin-left: 0px;
    }
    span.SingArtHead {
        width: 87%;
    }
    .SingArtCross {
        margin-top: -1rem;
    }
    .SingArtImgDiv {
        text-align: center;
    }
    .pieDiv {
        top: 29.5%;
    }
    .form-group {
        margin-bottom: 1rem !important;
    }
}

@media (max-width: 767px) {
    .lib-head {
        font-size: 38px;
        line-height: 56px;
        display: inline-block;
        width: 88%;
    }
    .colHead,
    .colSubHead {
        font-size: 14px;
        line-height: 22px;
    }
    .notD {
        margin-top: 1.5rem !important;
    }
    .my-div1 {
        width: 59%;
    }
    .my-div2 {
        width: 41%;
    }
    .IpadView,
    .d-none1,
    .txt1,
    .mbDNone,
    .notM,
    .NotMB,
    .MobileViewNone {
        display: none !important;
    }
    .notD,
    .mbPBtn,
    .notDT,
    .IpadProBlock,
    .mbNot {
        display: unset;
    }
    .row.down-arrow {
        margin: 0rem;
    }
    .barLine {
        width: 94%;
        margin-top: -0.2rem;
        height: 2px;
    }
    .subHead {
        margin-left: 0;
    }
    .my-div1 {
        padding-left: 0;
    }
    #three .owl-item.active {
        width: 80px !important;
        margin-right: 25px;
    }
    .owl-dots {
        display: none;
    }
    .lPar {
        font-size: 18px;
        line-height: 26px;
    }
    .subHead,
    .THead {
        font-size: 26px;
        line-height: 34px;
    }
    .THead {
        margin-top: 0.9rem;
        margin-bottom: 1rem;
    }
    .sText {
        font-size: 14px;
        line-height: 24px;
    }
    .a-sort {
        margin-top: -1.2rem;
    }
    .icon-text {
        margin-right: 9%;
    }
    .sText,
    .sText1 {
        padding-left: 1rem;
    }
    .mbTop,
    .mbTop1 {
        margin-top: 1rem !important;
    }
    .mbBot {
        margin-bottom: 0.8rem;
    }
    .sort-div {
        display: none;
        width: 180px;
        margin-left: -101px;
    }
    .SingArtDiv {
        margin-right: 0rem;
    }
    .SingArtDiv1 {
        margin-top: 0rem;
    }
    .SingArtImg {
        width: 320px;
    }
    .SingArtHead {
        font-size: 28px;
        line-height: 36px;
    }
    .SingArtCross {
        margin-left: 0.5rem !important;
        margin-right: 0rem;
        font-size: 3rem;
    }
    .mWid0 {
        flex: 0 0 12%;
        max-width: 12%;
    }
    .mWid {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .pieDiv img {
        width: unset;
    }
    .mWid span {
        font-size: 12px;
        margin-left: 0;
    }
    .mbflt {
        float: right;
    }
    .sWriter {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0.6rem;
        margin-bottom: 0.7rem;
    }
    .sDesc {
        font-size: 16px;
        line-height: 24px;
    }
    .SingArtImgDiv {
        margin-top: 2.5rem;
    }
}

@media(max-width: 541px) {
    .OnPadViewOnly {
        display: none;
    }
    .navbar {
        margin-bottom: 42px;
    }
    .btnImgWid {
        width: 100%;
        margin-left: 0px;
    }
    .row.down-arrow {
        margin: 3.6rem 0 0;
    }
}

@media (max-width: 416px) {
    .lib-head {
        height: 70px;
        width: 82%;
        font-size: 38px;
    }
    .btnImgWid.notD {
        width: 92%;
    }
    .a-sort {
        margin-left: 53px;
    }
    .SingArtImg {
        width: 383px;
    }
    span.SingArtHead {
        width: 88%;
    }
    .SingArtCross {
        margin-top: -1.4rem;
    }
    .pieDiv {
        top: 29.5%;
    }
    .mWid {
        flex: 0 0 16.5%;
        max-width: 16.5%;
    }
    .form-group {
        margin-bottom: 1.6rem !important;
    }
}

@media (max-width: 376px) {
    .SingArtImg {
        width: 345px;
    }
    span.SingArtHead {
        width: 88%;
    }
    .pieDiv {
        top: 29.6%;
    }
    .mWid {
        flex: 0 0 17.5%;
        max-width: 17.5%;
    }
}

@media (max-width: 361px) {
    .SingArtImg {
        width: 330px;
    }
    .pieDiv {
        top: 20.2%;
    }
}

@media (max-width: 321px) {
    .lib-head {
        height: 60px;
        width: 79%;
        margin-top: 1.6rem;
    }
    .navbar {
        margin-bottom: 8px;
    }
    .sText,
    .sText1 {
        padding-left: 1.5rem;
        margin-top: 0;
    }
    .a-sort {
        margin-left: 30px;
    }
    .SingArtImg {
        width: 289px;
    }
    span.SingArtHead {
        width: 86%;
    }
    .pieDiv {
        top: 29.8%;
    }
    .mWid {
        flex: 0 0 20.5%;
        max-width: 20.5%;
    }
    .form-group {
        margin-bottom: 0rem !important;
    }
}